
.menu_mobile {
  position: fixed;
  z-index: 1;
  
  width: 0;
  height: 100%;
  
  background-color: #000;
  transition: .2s;
}
 
.navbar_mobile {
  visibility: hidden;
  width: 0;
  height: 100%;
  padding: 2rem .2rem;

  list-style: none;
}

.btn_closed {
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin-top: 1rem;
  margin-right: 1rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  
  color: #fff;
  text-decoration: none;

  font-size: 1.5rem;
  border: .1rem solid red;
  border-radius: 20px;
}

.link_items_mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
}

.link_items_mobile li {
  width:100%;
  border-bottom: 1px solid rgba(255,255,255,0.2);

  margin-top: 30px;
}

.link_items_mobile a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;

  margin-left: 20px;
}

.active_menu {
  width: 100%;
  padding: 0 .5rem;
}


.active_navbar {
  width: 100%;
  visibility: visible
}

@media (max-width: 768px) {
  .hamburguer {
    display: block;
  }

  .link_items {
    display: none;
  }

}
